<!-- aside -->
   <div class="aside">
      <div class="inside">
         <h2>Product Categories</h2>
         <ul class="news">
            {% for category in categories %}
            <li>
                <strong><a href="{{ path('product_category', {'slug': category.slug }) }}">{{ category.name }}</a></strong>
            </li>
            {% endfor %}
         </ul>
      </div>
   </div>