{% extends "UnifyWebBundle::Layout.html.twig" %}
{% block main %}
<div class="container">
   {% render "UnifyWebBundle:Widget:categories"  %}
   <!-- content -->
   <div class="section" id="content">
      <h2>About Us</h2>
      <p class="p2">Unify Medical Technology Co., Ltd. was founded in Nanjing, China with the goal to supply medical products with high quality, competitive price and excellent after-sales service.</p>
      <p>As the leading professional manufacturer & exporter of medical equipment, Unify Medical own a group of very professional technical and sales staff with the high efficiency, who are able to provide the customers complete range of service. Being approved with CE,ISO, Certificate, etc. We have established efficient worldwide network of marketing. In the past 15 years, we have exported our products to more than 120 countries all over the world. </p>
      <p>Unify Medical product range covers X-ray machines, Ultrasound Scanner, ECG, ICU Equipment, Laboratory Equipment, Optoelectronic Equipment, Reagents, Hospital Furniture and other medical equipments & products. </p>
      <p>We welcome customers from all over the world visit our website or our company, and we assure you of our best quality products and services with competitive prices.Your cooperation with us will definitely create a win-win situation for both of us.</p>
   </div>
   <div class="clear"></div>
</div>
{% endblock %}