{% extends "UnifyWebBundle::Layout.html.twig" %}
{% block main %}
<div class="container">
   <!-- aside -->
   <div class="aside">
      <div class="inside">
         <h2>Latest News</h2>
         <ul class="news">
            <li><a href="#">June 30, 2011</a><br>Duis sed elementum est. Quisque scelerisque felis gravida nisi posuere at vulputate felis scelerisque. Cras a nibh augue.</li>
            <li><a href="#">June 14, 2011</a><br>Quisque lectus elit, pulvinar euismod blandit aliquet, euismod sit amet nibh. Aenean dapibus, odio eget egestas dapibus, purus velit aliquet leo, at condimentum risus lacus id eros.</li>
            <li><a href="#">May 29, 2011</a><br>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce eget justo at ipsum imperdiet porta. Aenean non purus vel justo blandit vestibulum at in felis.</li>
         </ul>
      </div>
   </div>
   <!-- content -->
   <div class="section" id="content">
      <h2>Contact Form</h2>
      <form id="contacts-form" action="">
         <fieldset>
         <div class="field">
            <label>Your Name:</label>
            <input type="text">
         </div>
         <div class="field">
            <label>Your E-mail:</label>
            <input type="text">
         </div>
         <div class="field">
            <label>Your Website:</label>
            <input type="text">
         </div>
         <div class="field">
            <label>Your Message:</label>
            <textarea cols="1" rows="1"></textarea>
         </div>
         <div class="button"><strong><span><a href="#" onClick="document.getElementById('contacts-form').submit()">Send Your Message!</a></span></strong></div>
         </fieldset>
      </form>
   </div>
   <div class="clear"></div>
</div>
{% endblock %}