{% extends "UnifyWebBundle::Layout.html.twig" %}
{% block main %}
<div class="container">
   {% render "UnifyWebBundle:Widget:categories"  %}
   <!-- content -->
   <div class="section" id="content">
      <ul class="list1">
         {% for n in news %}
         <li>
             <strong><a href="{{ path('news', {'slug': n.slug}) }}">{{ n.title }}</a></strong>
             <i>{{ n.getCreatedAt().format('M d, Y') }}</i><br>
             {{ n.content|summary(150) }}
         </li>
         {% endfor %}
      </ul>
   </div>
   <div class="clear"></div>
</div>
{% endblock %}