{% extends "UnifyWebBundle::Layout.html.twig" %}
{% block main %}
<div class="container">
   {% render "UnifyWebBundle:Widget:categories" %}
   <!-- content -->
   <div class="section" id="content">
      <h2>{{ product.title }}</h2>
      <div class="img-box">
          {% if news.img %}
          <img src="{{ news.getImgPath() }}" class="imgb" alt="{{ news.title }}" />
          {% endif %}
          {{ product.content }}
      </div>
   </div>
   <div class="clear"></div>
</div>
{% endblock %}