{% extends "UnifyWebBundle::Layout.html.twig" %}
{% block main %}
<div class="container">
   {% render "UnifyWebBundle:Widget:categories"  %}
   <!-- content -->
   <div class="section" id="content">
      <ul class="sitemap">
          {% for product in products %}
         <li><a href="{{ path('product', {'slug': product.slug}) }}">{{ product.title }}</a></li>
         {% endfor %}
      </ul>
   </div>
   <div class="clear"></div>
</div>
{% endblock %}